Exercises
Do your work for this exercise in a jupyter notebook named hypothesis_testing.ipynb.

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?

$H_0$ The internet latency has not changed since we switched internet providers.

$H_a$ The internet latency has gone down since we switched internet providers.

True positive: We have rejected our null hypothesis. The internet latency has reduced since we switched internet providers.
True negative: We have failed to reject the null hypothesis. The internet has not changed since we switched internet providers
Type I error: We have rejected our null hypotheses (H_0) however we belive that our H_0 remains true. The internet latency has remained the same.
Type II error: We have failed to reject our null hypotheses however the findings show that the internet latency has reduced since we switched internet providers.

Is the website redesign any good?

$H_0$ The website redisign is straight fire. You are just a hater.

$H_a$ Users find the website redisgn to be less appealing than the original design.

True positive: We have rejected the null hypothesis. Users find the new website redisign to be less appealing than the original design.
True negative: We have failed to reject the null hypothesis. The website redisign is as a basis of measurable fact: fire.
Type I error: We have rejected the null hypothesis. However the null hypotheses remains true and the webiste is in fact fire. And yous a hater.
Type II error: We have failed to reject the null hypothesis. However the null hypotheses is false and the websight redisign is 'meh' at best.

Is our television ad driving more sales?

$H_0$ Our television ad has had no change in sales.

$H_a$ Our televsion ad has lead to an increase in sales.

True positive: We have rejected our null hypothesis. The television ad has had an increase in our sales.
True negative: We have failed to reject our null hypothesis. The television ad has not had a change in sales.
Type I error: We have rejected our null hypothesis. However the ad has had no measureable change in sales.
Type II error: We have failed to reject our null hypothesis. However the ad has caused a measurable change in sales.

1. Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.

 	Codeup Student	Not Codeup Student
Uses a Macbook	49	20
Doesn't Use A Macbook	1	30

In [46]:
import pandas as pd
import numpy as np

from pydataset import data
from scipy import stats


from sqlalchemy import text, create_engine
from env import get_connection


mpg = data('mpg')

In [12]:
codeup_macs = {
    'Codeup Student':[49 , 1],
    'Not Codeup Student':[20 , 30],
}
index = ['Uses a Macbook',"Doesn't Use A Macbook"]

In [17]:
df_macs = pd.DataFrame(codeup_macs, index=index)

In [18]:
chi_mac , p_mac , degf_mac , exp_mac = stats.chi2_contingency(df_macs)

In [20]:
p_mac

1.4116760526193828e-09

# Set up hypothessis next timte. This is a hypothosis test so need ot set up hypothesis before test so you can be dilligent about what you are mesuaring and the meaning of the results

Awnser:

Using a laptop does seem to be coorelated with being a 
Codeup student as the p value is well under our base $a$ value of .05.

2 Choose another 2 categorical variables from the mpg dataset.

State your null and alternative hypotheses.
State your alpha.
Perform a 
chi2 test of indepedence.
State your conclusion

In [49]:
# used to see the number of unique 
mpg.nunique()

manufacturer    15
model           38
displ           35
year             2
cyl              4
trans           10
drv              3
cty             21
hwy             27
fl               5
class            7
dtype: int64

$H_0$ Car class is not correlated to transmission type.

$H_a$ Car transmission is correlated to car class.

In [26]:
a = .05

In [32]:
mpg['trans_bin'] = np.where(mpg.trans.str.startswith('a'), 'auto','manual')

In [35]:
mpg_class = pd.crosstab(mpg.trans_bin, mpg['class'])

In [36]:
mpg_class

class      2seater  compact  midsize  minivan  pickup  subcompact  suv
trans_bin
auto             2       24       29       11      20          16   55
manual           3       23       12        0      13          19    7

In [41]:
chi_trans, p_trans, degf_trans, expt_trans = stats.chi2_contingency(mpg_class)

In [42]:
p_trans

7.4513729838250925e-06

Transmission type is very much correlated to car class because there is an incredibly small number smaller than the $a$.

3. Use the data from the employees database to answer these questions:

Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees)
Is an employee's gender independent of whether or not they are or have been a manager?

# may have to use series manipulation in python rather than just straight sql query to produce a cross tab